.article-page {
  @extend %center-side;
  .article {
    background-color: $color-a;
    padding: 0;
    .article-header {
      color: $color-a;
      background-color: $color-primary;
      padding: 30px;
      overflow: hidden;
      .follow-like {
        margin-top: 30px;
      }
    }
    .article-body {
      overflow: auto;
      padding: 30px;
      .main-img {
        text-align: center;
        margin-bottom: 30px;
        img {
          max-height: 500px;
        }
      }
      .article-tags {
        margin: 30px 0;
        li {
          background-color: $color-c;
          border-radius: 10px;
        }
      }
      h4 {
        margin-bottom: 15px;
      }
      .comments-list {
        margin-top: 15px;
        .comment-item {
          position: relative;
          padding: 15px 0;
          border-top: 1px solid $color-c;
          .btn-edit-comment {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 10px;
            right: 0;
            text-align: center;
            border-radius: 2px;
            &:hover {
              color: $color-d;
              cursor: pointer;
            }
            .caret {
              margin: 0;
            }
          }
          .edit-comment {
            position: absolute;
            width: 100%;
            background-color: $color-a;
            top: 30px;
            padding: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            z-index: 10 !important;
          }
        }
      }
      .comment-field {
        margin-top: 30px;
        button {
          float: right;
          margin-top: 10px;
        }
      }
    }
  }
  .aside {
    padding: 0;
    .about-user {
      margin: 30px;
      margin-right: 0;
      background-color: $color-a;
      text-align: center;
      padding: 0 20px 20px;
      h3, h4 {
        padding: 20px 0;
      }
      .follow {
        margin-top: 20px;
      }
      .popular-article {
        margin-top: 30px;
        border-top: 1px solid $color-primary;
      }
    }
  }
}