.article-page {
  @extend %center-side;
  .article {
    background-color: $color-a;
    padding: 0;
    .article-header {
      color: $color-a;
      background-color: $color-primary;
      padding: 30px;
      overflow: hidden;
      .follow-like {
        margin-top: 30px;
      }
    }
    .article-body {
      overflow: auto;
      padding: 30px;
      .main-img {
        text-align: center;
        margin-bottom: 30px;
      }
      .article-tags {
        margin: 30px 0;
        li {
          background-color: $color-c;
          border-radius: 10px;
        }
      }
      .comments-list {
        .comment-item {
          padding: 15px 0;
          border-top: 1px solid $color-c;
        }
      }
      .comment-field {
        margin-top: 30px;
        button {
          float: right;
          margin-top: 10px;
        }
      }
    }
  }
  .aside {
    padding: 0;
    .about-user {
      margin: 30px;
      margin-right: 0;
      background-color: $color-a;
      text-align: center;
      padding: 0 20px 20px;
      h3, h4 {
        padding: 20px 0;
      }
      .follow {
        margin-top: 20px;
      }
      .popular-article {
        margin-top: 30px;
        border-top: 1px solid $color-primary;
      }
    }
  }
}