<div class="header">
  <div class="header-scroll">
    <div class="header-contain">
      <div class="logo">
        <a [routerLink]="['home']">
          <img src="../img/logo.png" alt="logo img">
        </a>
      </div>
      <nav class="menu">
        <ul class="nav nav-pills">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/login']">Sign in</a></li>
          <li><a [routerLink]="['/register']">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
