<div class="header">
  <div class="header-scroll">
    <div class="header-contain">
      <div class="logo">
        <a [routerLink]="['home']">
          <img src="../img/logo.png" alt="logo img">
        </a>
      </div>
      <nav class="menu">
        <ul class="nav nav-pills">
          <li>
            <a [class.isActived]="true" [routerLink]="['/home']">
              <span class="glyphicon glyphicon-home"></span> Home
            </a>
          </li>
          <li [class.isHidden]="true">
            <a [routerLink]="['/login']">
              <span class="glyphicon glyphicon-log-in"></span> Sign in
            </a>
          </li>
          <li [class.isHidden]="true">
            <a [routerLink]="['/register']">
              <span class="glyphicon glyphicon-plus"></span> Sign up
            </a>
          </li>
          <li [class.isHidden]="false">
            <a [routerLink]="['/editor']">
              <span class="glyphicon glyphicon-pencil"></span> New article
            </a>
          </li>
          <li [class.isHidden]="false">
            <a [routerLink]="['/profile']">
              <span class="glyphicon glyphicon-user"></span> Anh Nguyen T.
            </a>
          </li>
          <li [class.isHidden]="false">
            <a href="">
              <span class="glyphicon glyphicon-log-out"></span> Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
