.text-bold {
  font-weight: bold;
}
.text-uppercase {
  text-transform: uppercase;
}
.link-text {
  @extend %text-hover;
  color: $color-link;
}
.error-input {
  border: 1px solid $color-red;
  box-shadow: 0px 0px 8px 0 $color-red;
}
.isHidden {
  display: none;
}
.isActived, .isActived:active, .isActived:focus {
  color: $color-a;
  background-color: $color-primary !important;
}
.like-button, .follow-button, .setting-button, .edit-button, .delete-button {
  padding: 2px 5px;
}
.follow-button {
  @include my-button($color-blue);
}
.like-button {
  @include my-button($color-green);
}
.isLiked, .delete-button {
  @include my-button($color-red);
}
.setting-button, .edit-button {
  @include my-button($color-blue2);
}
.user-media {
  overflow: hidden;
  margin-bottom: 10px;
  .user-avatar {
    width: 30px;
    height: 30px;
    float: left;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .user-profile {
    margin-left: 10px;
    float: left;
  }
}
.mini-list-articles {
  ul {
    text-align: left;
    overflow: hidden;
    li {
      overflow: hidden;
      padding: 10px 0;
      border-top: 1px solid $color-c;
      .item-img {
        width: 64px;
        height: 64px;
        float: left;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item-content {
        float: left;
        width: calc(100% - 64px);
        padding: 10px;
        padding-right: 0;
      }
    }
  }
}
