body {
  font-family: $font-family-body;
  color: $color-primary;
  font-size: 14px;
  background-color: $color-c;
}

* {
  @include box-sizing;
}

a {
  @extend %text-hover;
}
h1, h2, h3, h4, h5 {
  font-family: $font-family-header;
  font-weight: bold;
}
h1, h2, h3 {
  text-transform: uppercase;
}
img {
  max-width: 100%;
}
ul, ol{
  list-style: none;
}
button, input, a {
  &:focus {
    outline: none;
  }
}
.link-text {
  @extend %text-hover;
  color: $color-link;
}
.isActived {
  color: $color-a;
  background-color: $color-primary;
}
.like-button, .follow-button {
  padding: 2px 5px;
}
.user-media {
  overflow: hidden;
  margin-bottom: 10px;
  .user-avatar {
    width: 30px;
    float: left;
  }
  .user-profile {
    margin-left: 10px;
    float: left;
  }
}
.mini-list-articles {
  ul {
    text-align: left;
    overflow: hidden;
    li {
      overflow: hidden;
      padding: 10px 0;
      border-top: 1px solid $color-c;
      .item-img {
        width: 64px;
        height: 64px;
        float: left;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item-content {
        float: left;
        width: calc(100% - 64px);
        padding: 10px;
        padding-right: 0;
      }
    }
  }
}
