// fontface
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@font-face{
  font-family: 'Noto Sans', sans-serif;
}

// font-family
$font-family-body: 'Noto Sans', Arial;
$font-family-header: 'Noto Sans', Arial;

// color
$color-primary: #333333;
$color-a: #ffffff;
$color-b: #000000;
$color-c: #eeeeee;
$color-d: #bfac8a;
$color-e: #f44336;
$color-f: #666666;