.header {
  width: 100%;
  height: 78px;
}
.header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 10px 0;
  background-color: $color-c;
  border-bottom: 1px solid $color-primary;
  overflow: auto;
  .header-contain {
    @extend %center-side;
    .logo {
      float: left;
    }
    .search-field {
      width: 30%;
      float: left;
      padding: 12px 30px;
      input {
        border-radius: 5px;
      }
      .search-result {
        position: fixed;
        z-index: 10;
        top: 65px;
        left: 200px;
        width: 500px;
        max-height: 500px;
        overflow: auto;
        background-color: $color-a;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
    }
    .menu {
      float: right;
      margin: 8.5px 0;
      .isHidden {
        display: none;
      }
      .user {
        overflow: hidden;
        height: 40px;
        .avatar {
          position: relative;
          float: left;
          width: 30px;
          height: 30px;
          margin-top: -5px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
          }
        }
        .username {
          float: left;
          margin-left: 5px;
        }
      }
      .notification {
        position: relative;
        z-index: 20;
        height: 40px;
        .glyphicon-globe {
          font-size: 20px;
        }
        .notification-number {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 0px 5px;
          background-color: $color-red;
          border-radius: 50%;
          color: $color-a;
          font-weight: bold;
          font-size: 10px;
        }
        &:hover {
          cursor: pointer;
        }
        app-notification {
          position: fixed;
          top: 60px;
          left: 650px;
          z-index: 10;
        }
      }
      a {
        border-bottom: 2px solid transparent;
      }
      .isActived {
        border-radius: 0 !important;
        background-color: transparent !important;
        color: $color-primary !important;
        padding-bottom: 8px !important;
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
