@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Noto Sans', sans-serif; }
.header .header-contain, .footer .footer-contain, .categories .navbar, .container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%; }

.container {
  padding: 0; }
  .container * {
    padding: 0; }

.container .item-article .article-img, .container .item-article .article-description {
  position: relative; }
  .container .item-article .article-img:after, .container .item-article .article-description:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .container .item-article .article-img .content, .container .item-article .article-description .content {
    position: absolute;
    width: 100%;
    height: 100%; }

body {
  font-family: "Noto Sans", Arial;
  color: #333333;
  font-size: 14px;
  background-color: #eeeeee; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: "Noto Sans", Arial;
  font-weight: bold; }

img {
  max-width: 100%; }

ul, ol {
  list-style: none; }

button:focus, input:focus, a:focus {
  outline: none; }

.header {
  width: 100%;
  padding: 15px 0;
  overflow: auto; }
  .header .header-contain .logo {
    float: left; }
  .header .header-contain .menu {
    float: right;
    margin: 8.5px 0; }
    .header .header-contain .menu a:hover {
      background-color: #333333;
      color: #ffffff; }

.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #333333;
  color: #ffffff;
  overflow: auto; }
  .footer .footer-contain .logo {
    width: 100px;
    height: auto;
    float: left; }
  .footer .footer-contain .license {
    float: left;
    margin: 6.5px 10px; }

.top-banner {
  width: 100%;
  height: 200px;
  padding: 57px 0;
  background-color: #333333;
  text-align: center; }
  .top-banner .banner-contain {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #ffffff; }
    .top-banner .banner-contain span {
      font-size: 14px; }

.categories {
  border-bottom: 1px solid #333333; }
  .categories .navbar {
    border: 0; }
    .categories .navbar li {
      text-transform: uppercase; }
      .categories .navbar li a:hover {
        color: #ffffff;
        background-color: #333333; }

.container {
  min-height: 500px;
  margin-top: 30px; }
  .container .item-article {
    min-height: 200px;
    background-color: white; }
    .container .item-article .article-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container .item-article .article-img .arrow {
      position: absolute;
      width: 6%;
      height: 6%;
      background-color: #ffffff;
      right: -3%;
      top: 47%;
      transform: rotate(45deg); }
    .container .item-article .article-description .content {
      padding: 15px; }
      .container .item-article .article-description .content .user {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px; }
        .container .item-article .article-description .content .user .user-avatar {
          width: 30px;
          float: left; }
        .container .item-article .article-description .content .user .user-profile {
          margin-left: 10px;
          float: left; }
      .container .item-article .article-description .content .follow-like {
        position: absolute;
        bottom: 15px; }
        .container .item-article .article-description .content .follow-like a {
          padding: 2px 5px; }
      .container .item-article .article-description .content p {
        font-size: 12px; }
    .container .item-article:nth-child(3) .article-img {
      float: right; }
      .container .item-article:nth-child(3) .article-img .arrow {
        right: 97%; }
    .container .item-article:nth-child(3) .article-description {
      float: left; }
    .container .item-article:nth-child(4) .article-img {
      float: right; }
      .container .item-article:nth-child(4) .article-img .arrow {
        right: 97%; }
    .container .item-article:nth-child(4) .article-description {
      float: left; }
  .container .aside h2 {
    margin-bottom: 10px; }
  .container .aside .favorite-articles-list {
    background-color: #ffffff;
    margin-left: 15px;
    padding: 15px;
    overflow: hidden; }
    .container .aside .favorite-articles-list ul li {
      overflow: hidden;
      padding: 10px 0;
      border-top: 1px solid #eeeeee; }
      .container .aside .favorite-articles-list ul li .like-count {
        color: #f44336;
        border: 1px solid #f44336;
        border-radius: 5px;
        text-align: center; }
  .container .aside .popular-tags {
    background-color: #ffffff;
    margin: 15px 0 0 15px;
    padding: 15px; }
    .container .aside .popular-tags li {
      margin-top: 5px;
      padding: 0; }
      .container .aside .popular-tags li a {
        padding: 0 5px;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid #333333;
        color: #333333;
        background-color: #ffffff; }
        .container .aside .popular-tags li a:hover {
          background-color: #333333;
          color: #ffffff; }

/*# sourceMappingURL=style.css.map */
