@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Noto Sans', sans-serif; }
.header-scroll .header-contain, .footer .footer-contain, .article-page, .categories .navbar, .container, .login-container, .signup-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%; }

.container {
  padding: 0; }
  .container * {
    padding: 0; }

.container .item-article .article-img, .container .item-article .article-description {
  position: relative; }
  .container .item-article .article-img:after, .container .item-article .article-description:after {
    content: "";
    display: block;
    padding-bottom: 60%; }
  .container .item-article .article-img .content, .container .item-article .article-description .content {
    position: absolute;
    width: 100%;
    height: 100%; }

.header-scroll .header-contain .menu a:active, .categories .navbar li a:active, .container .page-number .pagination a:active, .header-scroll .header-contain .menu a:focus, .categories .navbar li a:focus, .container .page-number .pagination a:focus {
  color: #ffffff;
  background-color: #333333; }

a, .footer .footer-contain .license a, .container .page-number .pagination a, .login-container .login-form a, .signup-container .signup-form a {
  color: #333333;
  text-decoration: none; }
  a:hover, .footer .footer-contain .license a:hover, .container .page-number .pagination a:hover, .login-container .login-form a:hover, .signup-container .signup-form a:hover {
    text-decoration: none;
    color: #bfac8a; }

body {
  font-family: "Noto Sans", Arial;
  color: #333333;
  font-size: 14px;
  background-color: #eeeeee; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: "Noto Sans", Arial;
  font-weight: bold; }

h1, h2, h3 {
  text-transform: uppercase; }

img {
  max-width: 100%; }

ul, ol {
  list-style: none; }

button:focus, input:focus, a:focus {
  outline: none; }

.header {
  width: 100%;
  height: 78px; }

.header-scroll {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  background-color: #eeeeee;
  border-bottom: 1px solid #333333;
  overflow: auto; }
  .header-scroll .header-contain .logo {
    float: left; }
  .header-scroll .header-contain .menu {
    float: right;
    margin: 8.5px 0; }

.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #333333;
  color: #ffffff;
  overflow: auto; }
  .footer .footer-contain .logo {
    width: 100px;
    height: auto;
    float: left; }
  .footer .footer-contain .license {
    float: left;
    margin: 6.5px 10px; }
    .footer .footer-contain .license a {
      color: #ffffff; }

.article-page .article {
  background-color: #ffffff;
  padding: 0; }
  .article-page .article .article-header {
    color: #ffffff;
    background-color: #333333;
    padding: 30px;
    overflow: hidden; }
    .article-page .article .article-header .follow-like {
      margin-top: 30px; }
  .article-page .article .article-body {
    padding: 30px; }
    .article-page .article .article-body .main-img {
      text-align: center;
      margin-bottom: 30px; }
.article-page .aside {
  padding: 0; }
  .article-page .aside .about-user {
    margin: 30px;
    margin-right: 0;
    background-color: #ffffff;
    text-align: center;
    padding: 0 20px 20px; }
    .article-page .aside .about-user h3, .article-page .aside .about-user h4 {
      padding: 20px 0; }
    .article-page .aside .about-user .follow {
      margin-top: 20px; }
    .article-page .aside .about-user .popular-article {
      margin-top: 30px;
      border-top: 1px solid #333333; }
      .article-page .aside .about-user .popular-article ul {
        text-align: left;
        overflow: hidden; }
        .article-page .aside .about-user .popular-article ul li {
          overflow: hidden;
          padding: 10px 0; }
          .article-page .aside .about-user .popular-article ul li .item-img {
            width: 64px;
            height: 64px;
            float: left; }
            .article-page .aside .about-user .popular-article ul li .item-img img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .article-page .aside .about-user .popular-article ul li .item-title {
            float: left;
            width: calc(100% - 64px);
            padding: 10px;
            padding-right: 0; }

.top-banner {
  width: 100%;
  height: 200px;
  padding: 57px 0;
  background-color: #333333;
  text-align: center; }
  .top-banner .banner-contain {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #ffffff; }
    .top-banner .banner-contain span {
      font-size: 14px; }

.categories {
  border-bottom: 1px solid #333333; }
  .categories .navbar {
    border: 0; }
    .categories .navbar li {
      text-transform: uppercase; }

.container {
  min-height: 500px;
  margin-top: 30px;
  overflow: hidden; }
  .container .item-article {
    min-height: 200px;
    background-color: #ffffff;
    overflow: hidden; }
    .container .item-article .article-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .container .item-article .article-img .arrow {
      position: absolute;
      width: 6%;
      height: 10%;
      background-color: #ffffff;
      right: -3%;
      top: 47%;
      transform: rotate(45deg); }
    .container .item-article .article-description .content {
      padding: 30px; }
      .container .item-article .article-description .content .user {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px; }
        .container .item-article .article-description .content .user .user-avatar {
          width: 30px;
          float: left; }
        .container .item-article .article-description .content .user .user-profile {
          margin-left: 10px;
          float: left; }
      .container .item-article .article-description .content .follow-like {
        position: absolute;
        bottom: 30px; }
        .container .item-article .article-description .content .follow-like .btn {
          padding: 2px 5px; }
    .container .item-article:nth-child(even) .article-img {
      float: right; }
      .container .item-article:nth-child(even) .article-img .arrow {
        right: 97%; }
    .container .item-article:nth-child(even) .article-description {
      float: left; }
    .container .item-article p {
      margin-top: 10px; }
  .container .page-number {
    text-align: center; }
    .container .page-number .pagination {
      margin: 30px 0; }
      .container .page-number .pagination a {
        background-color: #ffffff;
        border-color: #333333; }
  .container .aside {
    padding-left: 15px; }
    .container .aside h3 {
      margin-bottom: 10px; }
    .container .aside .favorite-articles-list {
      background-color: #ffffff;
      padding: 15px;
      overflow: hidden; }
      .container .aside .favorite-articles-list ul li {
        overflow: hidden;
        padding: 10px 0;
        border-top: 1px solid #eeeeee; }
        .container .aside .favorite-articles-list ul li .like-count {
          color: #f44336;
          border: 1px solid #f44336;
          border-radius: 5px;
          text-align: center; }
    .container .aside .popular-tags {
      background-color: #ffffff;
      margin-top: 15px;
      padding: 15px; }
      .container .aside .popular-tags li {
        margin-top: 5px;
        padding: 0; }
        .container .aside .popular-tags li a {
          padding: 0 5px;
          border-radius: 10px;
          border: 1px solid #333333;
          color: #333333;
          background-color: #ffffff; }
          .container .aside .popular-tags li a:hover {
            background-color: #333333;
            color: #ffffff; }

.login-container {
  min-height: 510px; }
  .login-container .login-form {
    padding: 30px 0;
    text-align: center; }
    .login-container .login-form form {
      margin-top: 30px; }
      .login-container .login-form form input {
        margin-bottom: 15px;
        padding: 5px 10px; }
      .login-container .login-form form button {
        color: #ffffff;
        background-color: #666666;
        border: none; }
        .login-container .login-form form button:hover {
          background-color: #333333; }
    .login-container .login-form a {
      color: #337ab7; }
    .login-container .login-form p {
      margin-top: 10px; }

.signup-container {
  min-height: 510px; }
  .signup-container .signup-form {
    padding: 30px 0;
    text-align: center; }
    .signup-container .signup-form form {
      margin-top: 30px; }
      .signup-container .signup-form form input {
        margin-bottom: 15px;
        padding: 5px 10px; }
      .signup-container .signup-form form button {
        color: #ffffff;
        background-color: #666666;
        border: none; }
        .signup-container .signup-form form button:hover {
          background-color: #333333; }
    .signup-container .signup-form a {
      color: #337ab7; }
    .signup-container .signup-form p {
      margin-top: 10px; }

/*# sourceMappingURL=style.css.map */
