<div class="about-us-container">
  <div class="">
    <h2 class="text-bold">HAT Group</h2>
    <div class="information">
	    <div class="col-sm-4">
	    	<div class="about-member">
		      <img src="https://avatars1.githubusercontent.com/u/26244518?v=3&s=400" class="img-circle" alt="Cinque Terre" width="200" height="200">
			    <h3 class="text-bold">Huy Nguyen V.</h3>
			    <h4>Feb 06, 1994</h4>
			    <p>Ruby</p>
			  </div>
	    </div>
	    <div class="col-sm-4">
	    	<div class="about-member">
		      <img src="https://avatars3.githubusercontent.com/u/26266654?v=3&s=400" class="img-circle" alt="Cinque Terre" width="200" height="200">
			    <h3 class="text-bold">Anh Nguyen T.</h3>
			    <h4>Apr 30, 1992</h4>
			    <p>Front End</p>
			  </div>
	    </div>
	    <div class="col-sm-4">
	    	<div class="about-member">
		      <img src="https://avatars3.githubusercontent.com/u/26251889?v=3&s=400" class="img-circle" alt="Cinque Terre" width="200" height="200">
			    <h3 class="text-bold">Thap Nguyen T.</h3>
			    <h4>Sep 14, 1995</h4>
			    <p>Ruby</p>
			  </div>
	    </div>
    </div>
  </div>
</div>
